<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Sign Up</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input required type="text" placeholder="Cari Name" class="form-control m-2" id="CariName" name="CariName" />
                <input required type="text" placeholder="Cari Surname" class="form-control m-2" id="CariSurname" name="CariSurname" />
                <input required type="text" placeholder="Cari City" class="form-control m-2" id="CariCity" name="CariCity" />
                <input required type="email" placeholder="Cari Mail" class="form-control m-2" id="CariMail" name="CariMail" />
                <input type="password" class="password" name="CariPassword" Placeholder="Cari Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> I Accept to the Terms &amp; Conditions</label>
                </div>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>
