@model List<MvcOnlineTicariOtomasyon.Models.classes.CargoTracking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Cargo Tracking</h2>

<table id="tbl1" class="table table-hover mt-2 ml-2 mr-2">
    <thead>
        <tr>

            
            <th>
                Description 
            </th>
            <th>
                Date
            </th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @item.Description
            </td>
            <td>
                @Convert.ToDateTime(@item.Date).ToShortDateString()
            </td>
            
        </tr>
    }

</table>
<a href="~/Cargo/Move?id=@ViewBag.id" class="btn btn-primary">Add Cargo Detail Move</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>


